<!-- <iframe width="1519" height="622" src="https://www.youtube.com/embed/ByAn8DF8Ykk" title="Avatar: The Last Airbender | Official Trailer | Netflix" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->


<iframe 
class="w-full h-full absolute"    
src="https://www.youtube.com/embed/ByAn8DF8Ykk?autoplay=1&loop=1&mute=1&controls=0" frameBorder="0"></iframe>

<!-- <iframe src="https://www.youtube.com/embed/ByAn8DF8Ykk?si=9vdLvyTtQFF4t3Qu" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
allowfullscreen></iframe> -->

<div class="h-screen bg-white">
    <div class="pt-[20%] px-24 absolute h-full text-white bg-gradient-to-r from-black">
        <h1 class="text-6xl font-black">
           Avatar: The Last Air Bender
        </h1>
        <p class="inline-block py-6 text-xl w-1/4 flex-wrap">
            In a war-torn world of elemental magic, a young boy reawakens to undertake a dangerous mystic quest to fulfill his destiny as the...
        </p>
        <div>
            <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]">
                ▶ Play
            </button>
            <button class="mx-2 bg-gray-600 text-white py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]">
                More Info
            </button>
        </div>
    </div>
</div>