mat-form-field {
    width: 300px; /* Set a specific width for the input field */
    margin-right: 3px; /* Add some space between the search and button */
    
}

button {
    min-width: 80px; /* Ensure button has consistent width */
}
